//plugins
@import 'plugins/_bootstrap-select.min.scss';


#top-screen.top-screen__my-profile {
	padding-bottom: 270px;
	.section__title {
		margin-bottom: 56px;
		h2 {
			font-size: 30px;
			color: #fff;
		}
		
	}

	.profile-form {
		max-width: 460px;
		width: 100%;
		margin: 0 auto;
		#traditional-uploader {
			.qq-gallery.qq-uploader {
				border: 0;
				background-color: transparent;
				padding: 0;
				&:before {
					content: '';
				}
			}
			.upload-preview {
				position: absolute;
				transform: translate(-50%,-50%);
				left: 50%;
				top: 50%;
			}
			.upload-icon {
				margin-bottom: 20px;
				display: block;
			} 
			.qq-gallery .qq-upload-button {
				width: 200px;
				height: 200px;
				background-color: #211d27;
				color: #fff;
				border-radius: 50%;
				border: 0;
				box-shadow: none;
				float: none;
				margin: 0 auto 40px; 
				display: block;
			}
		}
		.form-group {
			margin-bottom: 30px;
			position: relative;

			input:focus ~ .floating-label, input.has-value ~ .floating-label{
				top: 4px;
				bottom: 10px;
				left: 27px;
				font-size: 14px;
				opacity: 1;
			}
			input:focus, input.has-value{
				padding-top: 14px;
				padding-bottom: 6px;
				outline: none;
				border: 0;
				box-shadow: none;
			}
			.floating-label {
				position: absolute;
				pointer-events: none;
				left: 27px;
				top: 18px;
				transition: 0.2s ease all;
				font-size: 18px;
				font-family: "Myriad Pro";
				font-weight: normal;
				color: #666666;
			}
			.error{
				border: 3px solid #ed1846;
				background: #dadada;

				& ~ .error-message{
					display: block;
					color: #ed1846;
					font-size: 14px;
					line-height: 35px;
					font-weight: bold;
					margin-bottom: -10px;
					&:before{
						transform: rotate(45deg);
						content: ' ';
						display: inline-block;
						height: 3px;
						width: 18px;
						background: #ed1846;
						position: absolute;
						right: 10px;
						top: 23px;
					}
					&:after{
						transform: rotate(-45deg);
						content: ' ';
						display: inline-block;
						height: 3px;
						width: 18px;
						background: #ed1846;
						position: absolute;
						right: 10px;
						top: 23px;
					}
				}

			}
			.success ~ .checkmark{
				content: '';
				display: block;
				width: 7px;
				height: 14px;
				border: solid #79bd00;
				border-width: 0 2px 2px 0;
				transform: rotate(45deg);
				right: 15px;
				position: absolute;
				top: calc(50% - 7px);
			}
			.error-message, .checkmark{
				display: none;
			}
			button.btn:focus{
				outline: none !important;
				box-shadow: none;
			}
		}
		.form-group:not(.form-check){
			label{
				font-family: "Myriad Pro";
				font-size: 14px;
				font-weight: bold;
				color: #bcbcbc;
				position: absolute;
				top: 22px;
				left: -120px;
			}
		}
		.form-control , .dropdown-toggle {
			height: 50px;
			width: 100%;
			padding: 10px 20px 10px 27px;
			display: block;
			background: #fff;
		}

		.dropdown-toggle {
			border-radius: 25px;
			color: #666666;
		}
		.bootstrap-select.btn-group .dropdown-toggle .caret {
			position: absolute;
			width: 35px;
			height: 35px;
			border-radius: 50%;
			background-color: #ec4d53;
			top: 50%;
			z-index: -1;
			transform: translateY(-50%);
			right: 9px;

		}
		.dropdown-toggle::after {
			border-top: .3em solid #fff;
			margin-left: -15px;
		}
		.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
			width: 100%;
		}
		.checkheadline{
			font-size: 14px;
			font-family: "Myriad Pro";
			color: white;
			font-weight: 400;
			margin: 20px 0;
			line-height: 1.4;
		}
		.form-check {
			padding-left: 0;
			margin-bottom: 10px;
			label {
				color: #fff;
				padding-top: 10px;
				font-family: "Myriad Pro";
				font-size: 18px;
				font-weight: normal;
			}
			.checkbox {
				font-size: 18px;
			}
			.checkbox input[type="checkbox"] + label:before {
				background-color: transparent;
				border: solid 2px white;
				top: 47%;
				left: -1px;
			}
			.checkbox input[type="checkbox"]:checked + label:before {
				background-color: white;
			}
		}
	}
	@media screen and (max-width: 767px){
		.profile-form .form-group:not(.form-check){
			label{
				display: none;
			}
		}
	}
}